.scroll-container {
  height: 200px; /* set the height of the container */
  overflow-y: scroll; /* enable vertical scrolling */
}

.scroll-container::-webkit-scrollbar {
  width: 8px; /* set the width of the scrollbar */
}

.scroll-container::-webkit-scrollbar-track {
  background-color: transparent; /* set the background color of the track */
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #bababa; /* set the background color of the thumb */
  border-radius: 4px; /* set the border radius of the thumb */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #bababa; /* set the background color of the thumb on hover */
}

.red {
  color: red;
}